<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form Task-1</title>
  
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form action="/Registration" method="post">
            <h2>Register Here</h2>
            
            <input type="text" name="name" id="name" placeholder="Name" required>
            <br>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <br>
            <input type="text" name="phone" id="phone" placeholder="Phone number">
            <br>
            <input type="text" name="password" id="password" placeholder="Password">
            <br>
            <input type="submit" value="Submit" class="submit">
        </form>
    </div>
</body>
</html>